{% extends "admin/base_admin.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/admin/app.js') }}"></script>
<div class="form-group" ng-app="myApp">
    <div ng-controller="MainCtrl">
        <div ng-repeat="field in slides track by $index">
            <div class="panel panel-info">
                <div class="panel-heading">
                    {% raw %}{{ slides[$index].title ? slides[$index].title : 'Slide ' + $index }}{% endraw %}
                    <div class="pull-right">
                        <a ng-click="deleteSlide(slides[$index].id);">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <input type="hidden" name="slide_id" ng-model="slides[$index].id">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="fTitle">Title:</label>
                        <div class="input-group col-sm-10">
                            <input type="text" size="30" name="title" class="form-control"
                                ng-model="slides[$index].title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="fBgImg">Background Image:</label>
                        <div class="input-group col-sm-10">
                            <input type="text" size="30" name="bg-image" class="form-control" placeholder="URL"
                                ng-model="slides[$index].bg_image">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="fBgColor">Background Color:</label>
                        <div class="input-group col-sm-10">
                            <input type="text" size="30" name="bg-color" class="form-control"
                                ng-model="slides[$index].bg_color">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="fText">Text:</label>
                        <div class="input-group col-sm-10">
                            <textarea name="text" rows="5"cols="40" class="form-control"
                                ng-model="slides[$index].text"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="btn-group pull-right">
                            <button type="submit" class="btn btn-default"
                                ng-click="saveSlide(slides[$index]);">Save</button>
                        </span>
                    </div>
                </div>
            </div><!-- END div panel -->
        </div><!-- END ng-repeat -->

        <!-- STATUS MESSAGES -->
        <div ng-show="msgShow"
            ng-class="(msgClass == 'success') ? 'alert alert-success' : 'alert alert-danger'" role="alert">
            {% raw %}{{ msgText }}{% endraw %}
        </div>

        <!-- ADD SLIDE -->
        <div class="panel panel-primary">
            <div class="panel-heading">Add New Slide</div>
            <div class="panel-body">
                <input type="hidden" name="slide_id">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="fTitle">Title:</label>
                    <div class="input-group col-sm-10">
                        <input type="text" size="30" name="title" class="form-control"
                            ng-model="newSlide.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="fBgImg">Background Image:</label>
                    <div class="input-group col-sm-10">
                        <input type="text" size="30" name="bg-image" class="form-control" 
                            placeholder="URL" ng-model="newSlide.bg_image">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="fBgColor">Background Color:</label>
                    <div class="input-group col-sm-10">
                        <input type="text" size="30" name="bg-color" class="form-control"
                            ng-model="newSlide.bg_color">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="fText">Text:</label>
                    <div class="input-group col-sm-10">
                        <textarea name="text" rows="5"cols="40" class="form-control"
                            ng-model="newSlide.text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <span class="btn-group pull-right">
                        <button type="submit" class="btn btn-default"
                            ng-click="saveSlide(newSlide);">Add</button>
                    </span>
                </div>
            </div>
        </div><!-- END div panel -->
    </div>
{% endblock %}
