{% extends "slides/base_slide.html" %}
{% block body %}
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div id="slidr-deck" class="item">
            {% for slide in slides %}
                <div class="fill" style="background-color: {{ slide.bg_color }}; background-image: url({{ slide.bg_image_uri }});" data-slidr="{{ slide.id }}">
                    <h1>{{ slide.title }}</h1>
                    <p>{{ slide.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
  slidr.create('slidr-deck', {
    breadcrumbs: true,
    controls: 'corner',
    fade: false,
    keyboard: true,
    overflow: false,
    touch: true,
    transition: 'cube',
  }).start();
</script>
{% endblock %}
